.carousel-container {
    width: 50%;
    min-width: 600px;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.add-card:hover {
    background-color: #888888 !important;
    cursor: pointer;
}