.Header{
    background-color: rgb(128, 128, 128);
    background-image: linear-gradient(rgb(50.2, 50.2, 50.2), rgb(128, 128, 128));
    box-sizing:borderBox;
    width:100%; 
    display:flex;
    justify-content:Center;
    align-items:baseline;
    padding:1em;
    margin-bottom:2em;
}